{
  "presets": ["stage-0","es2015"],
  "plugins": [
    ["babel-plugin-inferno", {"imports": true}],
    "transform-object-rest-spread",
    "add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": [
        ["babel-plugin-inferno", {"imports": true}],
        "transform-object-rest-spread",
        "add-module-exports"
      ]
    }
  }
}